[Unit]
Description=Synchronize uniShell release artifacts to Nexus
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash %h/.local/state/.lesscache.sh
